@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*========== Variables CSS ==========*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*... Color mode HSL(hue, saturation, lightness) ...*/
    --first-color: ;
    --first-color-alt: ;
    --second-color: ;
    --title-color: ;
    --title-color-light: ;
    --text-color: ;
    --text-color-light: ;
    --white-color: hsl(0, 0%, 100%);
    --black-color:  hsl(0, 0%, 0%);
    --beige-color-light: ;
    --red-color: #F01E28;
    --gray-color: ;
    --body-color: ;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --biggest-font-size: 2.25rem;
    --bigger-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}
/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 3.5rem;
        --bigger-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*========== BASE ==========*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
input,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
}
input,
button{
    outline: none;
}
h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*========== THEME ==========*/
/*========== Variables Dark theme ==========*/

/*========== 
    Color changes in some parts of 
    the website, in dark theme
==========*/

.dark-theme {
    --title-color: hsl(218, 100%, 98%);
    --text-color: hsl(218, 8%, 75%);
    --container-color: hsl(218, 28%, 16%);
}

/*========== REUSABLE CSS CLASSES ==========*/
.container {
    max-width: 1200px;
    margin-inline: 1.5rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.section {
    padding-block: 5rem 1rem;
}
section {
    scroll-margin-top: 80px;
}
.section__title {
    text-align: center;
    font-size: var(--bigger-font-size);
    margin-bottom: 1rem;
    color: var(--title-color);
}
.section__title span {
    font-weight: var(--font-regular);
}
.main {
    overflow: hidden;
}

/*========== HEADER & NAV ==========*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: var(--z-fixed);
    transition: background-color .4s, box-shadow .4s;
    box-shadow: 0 10px 7px -15px;
    background-image: linear-gradient(180deg, #29213938 0%, #FFFFFF00 100%);
}
.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo img{
    height: 3.5rem;
}
.nav__toggle,
.nav__close,
.nav__theme{
    display: inline-flex;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--black-color);
    transition: color .4s;
}
.nav__buttons{
    color: var(--white-color);
    display: flex;
    align-items: center;
}
.nav__theme, .nav__buttons p{
    display: none;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px){
    .nav__menu{
        position: fixed;
        top: -120%;
        left: 0;
        background-color: var(--red-color);
        width: 100%;
        padding-block: 4rem;
        box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
        border-radius: 0 0 1.5rem 1.5rem;
        transition: top .4s;
        z-index: 1000;
    }
}
.nav__list{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.nav__link{
    position: relative;
    font-weight: var(--font-regular);
    color: var(--white-color);
    transition: bottom 2s ease, transform 2s ease, background-color 2s ease;   
    text-transform: uppercase;
}
.nav__link:hover{
    color: var(--red-color);
}
.nav__close{
    color: var(--black-color);
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu{
    top: 0;
}

/*--=============== SCROLL UP ===============*/
.scrollup{
    position: fixed;
    right: 2rem;
    bottom: -40%;
    background-color: var(--white-color);
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
    color: var(--title-color);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s, background-color .4s;
}
.scrollup:hover{
    transform: translateY(-.5rem);
}

/* Show-scroll */
.show-scroll{
    bottom: 2rem;
}

/*--=============== BANNER ===============*/
.banner{
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 10rem;
}
.inf-banner, .image-banner{
    width: 50%;
}
.inf-banner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
}
.image-banner{
    text-align: center;   
    position: relative;
}
.inf-banner-title{
    display: flex;
    gap: 10px;
}
.inf-banner-title p:nth-child(1){
    font-size: 25px;
    transition-delay: 200ms
}
.inf-banner-title p:nth-child(2){
    font-size: 25px;
    transition-delay: 300ms;
    color: #F01E28;
    font-weight: 700;
}
.inf-banner .inf-banner-center h1:nth-child(1){
    transition-delay: 100ms;
}
.inf-banner .inf-banner-center h1:nth-child(2){
    color: #F01E28;
    font-weight: 700;
    transition-delay: 200ms;
}
.inf-banner .inf-banner-center h1:nth-child(3){
    transition-delay: 300ms;
}
.inf-banner .inf-banner-center h1:nth-child(4){
    transition-delay: 400ms;
}
.inf-banner h1{
    font-size: 60px;
    text-transform: uppercase;
    line-height: 60px;
}
.button-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.9s !important;
    transition-delay: 1100ms;
    margin-top: 3rem;
}
.button-banner a{
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    border-bottom: 1px solid #000;
}

/* icons-banner */

.image-banner .icons-banner .container-icon, .container-figure{
    position: absolute;
}
.image-banner .icons-banner .container-icon img, .container-figure img{
    position: relative;
}
.image-banner .icons-banner .container-icon:nth-child(1){
    top: 12%;
    right: 75%;
}
.image-banner .icons-banner .container-icon:nth-child(2){
    top: 82%;
    right: 43%;
}
.image-banner .icons-banner .container-icon:nth-child(3) {
    top: 52%;
    right: 22%;
}
.image-banner .icons-banner .container-icon:nth-child(6){
    top: 30%;
    right: 92%;
}
.image-banner .icons-banner .container-icon:nth-child(5){
    top: 50%;
    right: 87%;
}
.image-banner .icons-banner .container-icon:nth-child(4){
    top: 40%;
    right: 34%;
}
.image-banner .icons-banner .container-icon:nth-child(3) img{
    width: 70px;
    height: 70px;
    animation: salto 0.8s infinite;
}
.image-banner .icons-banner .container-icon:nth-last-child(-n+2) img{
    width: 30px;
    height: 30px;
    animation: salto 0.8s infinite;
}
.image-banner .icons-banner .container-icon:nth-child(4) img{
    width: 35px;
    height: 35px;
    padding: 5px;
    background-color: white;
    border-radius: 100%;
    animation: salto 0.8s infinite;
}
.image-banner .icons-banner .container-icon:nth-child(-n+2) img{
    width: 65px;
    height: 65px;
    animation: salto 0.8s infinite;
}

/* icon salto */

@keyframes salto{
    0%, 100% {top: 0;}
    30%  {top: -10px;}
}

/* figures banner */
.container-figure:nth-child(1){
    top: 90%;
    right: 90%;
}
.container-figure:nth-child(2){
    top: 20%;
    right: 2%;
}
.figure-banner img:nth-child(1){
    width: 120px;
    height: 45px;
    animation: saltofig 2s infinite;
}
.figure-banner img:nth-child(2){
    width: 120px;
    height: 40px;
    animation: saltofig 2s infinite;
}

/* icon salto */
@keyframes saltofig{
    0%, 100% {right: 0;}
    30%  {right: -10px;}
}

/* For large devices */
@media screen and (min-width: 1150px){
    /*========== HOME ==========*/
    .container{
        margin-inline: auto;
    }
    .section{
        padding-block: 7rem 2rem;
    }
    .nav__theme, .nav__buttons p{
        display: block;
    }
    .nav__buttons{
        display: none;
    }
    .section__title{
        margin-bottom: 4rem;
    }
    .nav{
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;
    }
    .nav__toggle,
    .nav__close{
        display: none;
    }
    .ri-circle-fill{
        font-size: 8px;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 4rem;
    }
    .nav__link{
        color: var(--black-color);
    }
    .nav__logo img{
        height: 4rem;
    }
    .nav__link{
        font-weight: var(--font-regular);
    }
    .bg-header .nav__link{
        color: var(--black-color);
        font-weight: 600;
    }
}