@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*========== Variables CSS ==========*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*... Color mode HSL(hue, saturation, lightness) ...*/
    --first-color: ;
    --first-color-alt: ;
    --second-color: ;
    --title-color: ;
    --title-color-light: ;
    --text-color: hsl(0,0%,33%,100%);
    --text-color-light: ;
    --white-color: hsl(0, 0%, 100%);
    --black-color:  hsl(0, 0%, 0%);
    --beige-color-light: ;
    --red-color: hsl(357, 88%, 53%, 100%);
    --gray-color: ;
    --body-color: ;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Montserrat", sans-serif;
    --biggest-font-size: 2.25rem;
    --bigger-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}
/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 3.5rem;
        --bigger-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}

/*========== BASE ==========*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
input,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: background-color .4s;
}
input,
button{
    outline: none;
}
h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*========== THEME ==========*/
/*========== Variables Dark theme ==========*/

/*========== 
    Color changes in some parts of 
    the website, in dark theme
==========*/

.dark-theme {
    --title-color: hsl(218, 100%, 98%);
    --text-color: hsl(218, 8%, 75%);
    --container-color: hsl(218, 28%, 16%);
}

/*========== REUSABLE CSS CLASSES ==========*/
.container {
    max-width: 1200px;
    margin-inline: 1.5rem;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.section {
    padding-block: 5rem 1rem;
}
section {
    scroll-margin-top: 80px;
}
.section__title {
    text-align: center;
    font-size: var(--bigger-font-size);
    margin-bottom: 1rem;
    color: var(--title-color);
}
.section__title span {
    font-weight: var(--font-regular);
}

/*========== HEADER & NAV ==========*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 0;
    z-index: var(--z-fixed);
    transition: all .4s ease;
    background: linear-gradient(rgba(41, 33, 57, 0.18), rgba(255,255,255,0));
    transition: background-color .4s ease,
            box-shadow .4s ease,
            background-image .4s ease;
}
.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s;
}
.bg-header {
    background: rgba(255,255,255,0.95);
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}
.bg-header .nav{
    height: 3rem;
}
.bg-header :is(.nav__logo, .nav__toggle, .nav__contact, .ri-menu-line){
    color: var(--black-color);
}
.bg-header .nav__link{
    color: var(--white-color);
}
.bg-header .nav__logo img{
    transform: scale(0.9);
    transition: .3s;
}
.nav__logo img{
    height: 3.5rem;
}
.nav__toggle,
.nav__close,
.nav__theme{
    display: inline-flex;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--black-color);
    transition: color .4s;
}
.nav__buttons{
    color: var(--white-color);
    display: flex;
    align-items: center;
}
.nav__theme, .nav__buttons p{
    display: none;
}
/* Active link */

.active-link{
    color: var(--black-color) !important;
}

/* ========== WHATSAPP FLOAT ========== */
.whatsapp-float{
    position: fixed;
    bottom: 1rem;
    right: 1.4rem;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: transform .3s ease, box-shadow .3s ease;
}

/* Imagen WSP */
.whatsapp-float img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 30%;
}
.whatsapp-float:hover{
    transform: translateY(-6px) scale(1.05);
}
@keyframes floatWsp {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}
.whatsapp-float{
    animation: floatWsp 3s ease-in-out infinite;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px){
    .nav__menu{
        position: fixed;
        top: -120%;
        left: 0;
        background-color: var(--red-color);
        width: 100%;
        padding-block: 4rem;
        box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
        border-radius: 0 0 1.5rem 1.5rem;
        transition: top .4s;
        z-index: 1000;
    }
}
.nav__list{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.nav__link{
    position: relative;
    font-weight: var(--font-regular);
    color: var(--white-color);
    transition: bottom 2s ease, transform 2s ease, background-color 2s ease;   
    text-transform: uppercase;
}
.nav__link:hover{
    color: var(--red-color);
}
.nav__close{
    color: var(--black-color);
    position: absolute;
    top: 1rem;
    right: 1.5rem;
}

/* Show menu */
.show-menu{
    top: 0;
}

/*--=============== SCROLL UP ===============*/
.scrollup{
    position: fixed;
    right: 2.5rem;
    bottom: -40%;
    background-color: var(--white-color);
    box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
    color: var(--title-color);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s, background-color .4s;
}
.scrollup:hover{
    transform: translateY(-.5rem);
}

/* Show-scroll */
.show-scroll{
    bottom: 6rem;
}

/*--=============== BANNER ===============*/
.banner{
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 10rem;
}
.inf-banner, .image-banner{
    width: 50%;
}
.inf-banner{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
    padding-bottom: 8rem;
}
.image-banner{
    display: flex;
    justify-content: center;
    text-align: center;   
    position: relative;
}
.inf-banner-title{
    display: flex;
    gap: 10px;
}
.inf-banner-title p:nth-child(1){
    font-size: 25px;
    transition-delay: 200ms
}
.inf-banner-title p:nth-child(2){
    font-size: 25px;
    transition-delay: 300ms;
    color: var(--red-color);
    font-weight: 700;
}
.inf-banner .inf-banner-center h1:nth-child(1){
    transition-delay: 100ms;
}
.inf-banner .inf-banner-center h1:nth-child(2){
    color: var(--red-color);
    font-weight: 700;
    transition-delay: 200ms;
}
.inf-banner .inf-banner-center h1:nth-child(3){
    transition-delay: 300ms;
}
.inf-banner .inf-banner-center h1:nth-child(4){
    transition-delay: 400ms;
}
.inf-banner h1{
    font-size: 60px;
    text-transform: uppercase;
    line-height: 60px;
    color: var(--black-color);
}
.button-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.9s !important;
    transition-delay: 1100ms;
    margin-top: 3rem;
}
.button-banner a{
    font-size: 15px;
    text-transform: uppercase;
    color: black;
    border-bottom: 1px solid var(--black-color);
}

/* icons-banner */

.image-banner .icons-banner .container-icon, .container-figure{
    position: absolute;
}
.image-banner .icons-banner .container-icon p, .container-figure p{
    position: relative;
}
.image-banner .icons-banner .container-icon:nth-child(1){
    top: 12%;
    right: 52%;
}
.image-banner .icons-banner .container-icon:nth-child(2){
    top: 74%;
    right: 28%;
}
.image-banner .icons-banner .container-icon:nth-child(3) {
    top: 52%;
    right: 20%;
}
.image-banner .icons-banner .container-icon:nth-child(6){
    top: 30%;
    right: 66%;
}
.image-banner .icons-banner .container-icon:nth-child(5){
    top: 56%;
    right: 64%;
}
.image-banner .icons-banner .container-icon:nth-child(4){
    top: 32%;
    right: 24%;
}
.image-banner .icons-banner .container-icon:nth-child(3) p{
    animation: salto 0.8s infinite;
}
.image-banner .icons-banner .container-icon:nth-last-child(-n+2) p{
    animation: salto 0.8s infinite;
}
.image-banner .icons-banner .container-icon:nth-child(4) p{
    animation: salto 0.8s infinite;
}
.image-banner .icons-banner .container-icon:nth-child(-n+2) p{
    animation: salto 0.8s infinite;
}
.icons-banner p{
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--white-color);
}
.icons-banner .container-icon:nth-child(1) p{
    background-color: #C637C5;
}
.icons-banner .container-icon:nth-child(2) p{
    background-color: #7F34DD;
}
.icons-banner .container-icon:nth-child(3) p{
    background-color: #5F38FA;
}
.icons-banner .container-icon:nth-child(4) p{
    background-color: #D42A67;
}
.icons-banner .container-icon:nth-child(5) p{
    background-color: #E7AE2D;
}
.icons-banner .container-icon:nth-child(6) p{
    background-color: #c32c1b;
}
.img-banner-first{
    width: 400px;
}

/* icon salto */

@keyframes salto{
    0%, 100% {top: 0;}
    30%  {top: -10px;}
}

/* figures banner */
.container-figure:nth-child(1){
    top: 75%;
    right: 90%;
}
.container-figure:nth-child(2){
    top: 20%;
    right: 2%;
}
.figure-banner img:nth-child(1){
    width: 120px;
    height: 45px;
    animation: saltofig 2s infinite;
}
.figure-banner img:nth-child(2){
    width: 120px;
    height: 40px;
    animation: saltofig 2s infinite;
}
.figure-banner img{
    position: relative;
}

/* icon salto */
@keyframes saltofig{
    0%, 100% {right: 0;}
    30%  {right: -10px;}
}


/*========== BUSINESS ==========*/
.business-logos{
    position: absolute;
    top: 43rem;
    margin-top: 2rem;
    background: var(--black-color);
    width: 93%;
    overflow: hidden;
}
.scroll{
    display: flex;
    gap: 80px;
    width: max-content;
}
.scroll img{
    width: 100px;
    height: 80px;
    transition: .4s;
}
.scroll img:not(:hover){
    filter: grayscale(100%);
    opacity: .7;
}
.scroll img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}

/*========== SERVICES SCROLL ==========*/

.services-section {
    padding: 8rem 1.5rem;
}
.services-container {
    display: grid;
    grid-template-columns: 400px 1fr; 
    gap: 40px;
    max-width: 1300px;
    margin: 0 auto;
}
.services-text {
    position: sticky;
    top: 120px;
    align-self: start;
}
.services-text h2 {
    font-size: 2.5rem;
    color: var(--red-color);
    margin-bottom: 20px;
}
.services-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--text-color);
}
.services-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.card-serv {
    padding: 25px;
    border-radius: 12px;
    color: var(--white-color);
}
.card-serv img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}
.card-serv h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}
.card-serv p {
    font-size: 1.2rem;
    line-height: 1.4;
}

/* Colores de fondo */
.card-purple { background-color: #3f2c7a; }
.card-pink   { background-color: #c22b84; }
.card-green  { background-color: #7a9b00; }
.card-blue   { background-color: #0b5ea8; }
.card-red   { background-color: #BF4646; }
.card-yellow   { background-color: #E7AE2D; }

/*========== NOSOTROS ==========*/


/*========== METODOLOGIA ==========*/
.metodologia{
    background:#f3f4f6;
    padding:100px 20px;
    text-align:center;
}
.metodologia h2{
    color: black;
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: var(--font-semi-bold);
}
.sub{
    color:#6b7280;
    margin-bottom:70px;
}
.numbers-wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 953px;
    margin:auto;
}
.line-segment{
    position:absolute;
    top:50%;
    height:2px;
    transform:translateY(-50%);
    width:33.333%;
    z-index:1;

    background: repeating-linear-gradient(
        to right,
        #cbd5e1 0px,
        #cbd5e1 6px,
        transparent 6px,
        transparent 12px
    );
}
.line-segment:nth-child(1){ left:0; }
.line-segment:nth-child(2){ left:33.333%; }
.line-segment:nth-child(3){ left:66.666%; }
.line-segment.active{
    background: repeating-linear-gradient(
        to right,
        #facc15 0px,
        #facc15 6px,
        transparent 6px,
        transparent 12px
    );
}
.number{
    position:relative;
    z-index:2;
    width:55px;
    height:55px;
    background:#f3f4f6;
    border:2px dashed #cbd5e1;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:700;
    color:#6b7280;
    transition:all .3s ease;
}
.number-row.active .number{
    background:#facc15;
    border:none;
    color: var(--black-color);
}
.pasos{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin:0 auto 80px;
}
.paso{
    max-width: 300px;
}
.icono{
    width: 110px;
    height: 110px;
    margin: 0 auto 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
    cursor: pointer;
}
.paso h3{
    color: var(--black-color);
    color: var(--black-color);
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.icono img{
    width: 80px;
    transition: all .4s ease;
    filter: grayscale(100);
    opacity: .75;
}
.paso:hover .icono img{
    filter: grayscale(0);
    opacity: 1;
}
.paso p{
    line-height: 20px;
}


@media screen and (min-width: 1150px){
    /*========== HOME ==========*/
    .container{
        margin-inline: auto;
    }
    .section{
        padding-block: 7rem 2rem;
    }
    .nav__theme, .nav__buttons p{
        display: block;
    }
    .nav__buttons{
        display: none;
    }
    .section__title{
        margin-bottom: 4rem;
    }
    .nav{
        height: calc(var(--header-height) + 2rem);
        column-gap: 4rem;
    }
    .nav__toggle,
    .nav__close{
        display: none;
    }
    .ri-circle-fill{
        font-size: 8px;
    }
    .nav__list{
        flex-direction: row;
        column-gap: 2rem;
    }
    .nav__link{
        color: var(--black-color);
    }
    .nav__logo img{
        height: 4rem;
    }
    .nav__link{
        font-weight: var(--font-regular);
    }
    .bg-header .nav__link{
        color: var(--black-color);
    }
    .bg-header .header{
        background-color: var(--white-color)
    }
    .active-link{
        color: var(--red-color) !important;
    }
}

/* Mobile */
@media (max-width: 767px){

    /*========== BANNER ==========*/
    .banner{
        display: grid;
        gap: 3rem;
        padding-top: 7rem;
    }
    .inf-banner{
        text-align: center;
        padding: 0;
        gap: 20px;
    }
    .inf-banner-title{
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }
    .inf-banner h1{
        font-size: 50px;
        line-height: 55px;
    }
    .inf-banner, .image-banner{
        width: 100%;
    }
    .button-banner {
        margin: auto;
        width: auto;
    }
    .container-figure:nth-child(1){
        top: 100%;
        right: 80%;
    }
    .figure-banner img:nth-child(1) {
        width: 80px !important;
        height: 35px !important;
    }
    .container-figure:nth-child(2) {
        top: 26%;
        right: 4%;
    }
    .image-banner img{
        width: 375px;
    }
    .business-logos{
        position: initial;
    }
    .image-banner .icons-banner .container-icon:nth-child(3){
        right: 0%;
    }   
    .image-banner .icons-banner .container-icon:nth-child(2){
        right: 15%;
    }
    .image-banner .icons-banner .container-icon:nth-child(1){
        right: 51%;
    }
    .image-banner .icons-banner .container-icon:nth-child(6){
        right: 63%;
    }
    .image-banner .icons-banner .container-icon:nth-child(5){
        right: 59%;
    }
    .image-banner .icons-banner .container-icon:nth-child(4) {
        right: 9%;
    }

    /* Logos empresas */

    .scroll, .business-logos{
        width: auto;
    }

    /*========== SERVICIOS ==========*/
    .services-container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .services-text {
        position: relative;
        top: auto;
        margin-bottom: 2rem;
    }
    .services-section {
        padding: 5rem 1.5rem;
    }

    /*========== WSP ==========*/
    .whatsapp-float{
        bottom: 0.5rem;
        right: 0.4rem;
    }
    .scrollup{
        right: 1rem;
    }
    .show-scroll {
        bottom: 5rem;
    }
    .whatsapp-float{
        width: 55px;
        height: 55px;
    }
}

/* Mini tablet (iPad mini 768px) */
@media (min-width: 768px) and (max-width: 819px) {
    /*========== BANNER ==========*/
    .banner {
        flex-direction: column;
    }
    .inf-banner h1{
        text-align: center;
    }
    .business-logos{
        position: initial;
    }
    .inf-banner-title{
        justify-content: center;
    }
    .inf-banner{
        gap: 25px;
        padding-bottom: 4rem;
    }
    .inf-banner, .image-banner {
        width: 100%;
    }
    .image-banner .icons-banner .container-icon:nth-child(4){
        right: 26%;
    }
    .image-banner .icons-banner .container-icon:nth-child(2){
        right: 34%;
    }
    .image-banner .icons-banner .container-icon:nth-child(1) {
        right: 49%;
    }
    .image-banner .icons-banner .container-icon:nth-child(5) {
        right: 61%;
    }

    /*========== SERVICIOS ==========*/
    .services-container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .services-text {
        position: relative;
        top: auto;
        margin-bottom: 2rem;
    }
    .services-section {
        padding: 5rem 1.5rem;
    }
    .services-text h2{
        text-align: center;
    }
}

/* Tablet grande (820px - 1024px) */
@media (min-width: 820px) and (max-width: 1024px) {
    /*========== BANNER ==========*/
    .inf-banner h1{
        font-size: 50px;
        line-height: 55px;
    }
    .business-logos{
        width: 100%;
    }
    .container-figure:nth-child(2) {
        top: 9%;
    }
    .container-figure:nth-child(1) {
        top: 52%;
    }
    .img-banner-first {
        width: 300px;
    }
    .inf-banner{
        padding-bottom: 0;
    }
    /*========== SERVICIOS ==========*/
    .services-section {
        padding: 16rem 1.5rem;
    }
    .services-container {
        grid-template-columns: 300px 1fr;
    }
    .services-text h2 {
        font-size: 2rem;
    }
    .services-text p {
        font-size: 1rem;
    }
}